<div class="box1">
	<h2>User info</h2>
	<%=form_for(@user) do |f| %>
	 <div class="name">Name
	      <%= f.text_field :name %>
	 </div>
	 <div class="image">Image</div>
	 	<%= f.attachment_field :profile_image,placenholder:"プロフィール画像", class: "user-edit-form" %>
	 
	 <div class="introduction">Introduction
	      <%= f.text_area :introduction %>
	 </div>
	
	 <%= f.submit "Update User",class:"update" %>
	
	<% end %>
</div>
