<div class="body">
	<div class="container">
		<div class="row">
			<%= render 'list', book: @book %>
				<div class="col-xs-9">
					<h2>Book detail</h2>
						<table class="table">
							
							</thead>
							<tbody>
								<tr>
									<td>
										<%= attachment_image_tag @bookd.user,:profile_image, fallback: "no-image.png",size:'30x30' %><br>
										<%= link_to @bookd.user.name, user_path(@bookd.user) %>
								    </td>
									<td>
										<%= link_to @bookd.title,book_path(@bookd) %>
									</td>
									<td>
										<%= @bookd.body %>
									</td>
										<% if @bookd.user == current_user %>
											<td>
												<%= link_to "Edit", edit_book_path, class: "btn btn-success btn-xs" %>
											</td>
											<td>
												<%= link_to "Destroy", book_path(@bookd), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-danger btn-xs" %>
											</td>
										<% end %>
									</td>
								</tr>
							</tbody>
						</table>
				</div>
		</div>
	</div>
</div>